    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .esquerda{
        width: 50%;
    }
    

    button{
        padding: 20px;
        border: none;
        background-color: rgb(7, 133, 26);
        color: white;
        font-size: 20px;
    }

    .descricion2{
        font-size: 20px;
        padding: 20px;
    }