.container {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #C5B6A4;
}

/* Header da página */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(0, 161, 0);
}

/* Navegação */
.navegador {
  display: flex;
  gap: 30px;
  width: 30%;
}

/* Logo */
.logo {
  width: 180px;
}

.iconeNave{
  width: 100%;
}

.icones{
  display: flex;
  width: 9%;
  gap: 20px;
}

/* Ícones */
.icones img {
  margin-left: 30px;
  cursor: pointer;
}

/* Banner */
.banner {
  width: 100%;
  margin: 0;
}

.gifBanner {
  width: 100%;
  height: 600px;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.botoesRegistro{
    background-color: #34C759;
    border-radius: 50px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.8s ease;
}

.botoesRegistro:hover{
    background-color: rgb(12, 117, 12);
    transform: scale(1.08);
}

.botoesVer{
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 50px;
    height: 80px;
    width: 44%;
    cursor: pointer;
    transition: trasform 0.6s ease;
}

.botoesVer:hover{
    border: 1px solid rgb(12, 117, 12);
    transform: scale(1.08);
}

.containerPromotion{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  align-items: center;
  justify-content: center;
  gap: 30px;
  left: 40%;
  color: white;
  text-align: center;
  font-size: 30px;
}

.navegacao{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.navegacao:hover{
  transition: 0.3s ease;
  border: 1px solid rgb(91, 251, 104);
}

.navegacao::after{
  content: "";
  background-color: green;
}

.notficar{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 20px;
  height: 50vh;
  padding: 50px;
  background-color: #eee;
}

.card{
  background-color: #32343C;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 60%;
  color: white;
  border-radius: 20px;
  padding: 25px;
  margin: 20px 120px;
}

.descriptCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}

.novidade{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.enviarNot{
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
}

.enviarNotificacao{
  background-color: #a0f295 ;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: trasform 4s ease;
}

.enviarNotificacao:hover{
    transform: scale(1.08);
    background-color: #34C759;
}

footer{
  background-color: #373447;
  color: white;
}

.footerTag{
  padding: 30px 50px;
}

.tags{
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.nomeTag{
  margin: 10px 50px;
}

.targs{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  width: 100%;
}

.nagegador{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.tamanhoIcone{
  cursor: pointer;
  width: 6%;
  border-radius: 8px;
}

.iconeNavegador{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.arouba{
  text-align: center;
}