*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.direta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo2 {
    width: 100%;
    max-width: 250px;
    padding: 20px;
}