.notficar{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 20px;
  height: 50vh;
  padding: 50px;
  background-color: #eee;
}

.card{
  background-color: #32343C;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 60%;
  color: white;
  border-radius: 20px;
  padding: 25px;
  margin: 20px 120px;
}

.descriptCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}

.novidade{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 30%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}